.header {
	z-index: 3;
	box-shadow:
		0 0 4px rgba(0,0,0,.14),
		0 4px 8px rgba(0,0,0,.28);
	height: 10vh;
	padding: 10px;
	background-color: #000; }
  .header .container {
    padding: 0; }
	.header .header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center; }
		.header .header-inner .logo {
			height: calc(10vh - 20px);
			width: auto; }