@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400,400i,500,700');

body {
	margin: 0;
	border: 0;
	padding: 0; }
	body, h1, h2, h3, h4, h5 h6, p, i, a, bold, span, strong, div, section, nav, aside {
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		font-weight: 400;
		color: #333;
		margin: 0; }

.index {
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left; }
	.index .page {
    overflow: auto;
    overflow-x: hidden;
    height: 90vh; }
    .index .page .container {
      padding: 20px; }
      .index .page .container h1 {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 20px;
        font-size: 50px; }